/* .char-wrapper {
    align-self: flex-start;
} */
img {
    width: auto;
    max-width: 400px;
    min-width:200px;
    height: auto;
    min-height:200px;
    max-height: 300px;
    border-radius: 10px;
}

img:hover{
    transform: rotate(0.01turn);
}