input {
    background-color: beige;
    text-align: center;
    border-radius: 10px;
    border: none;
}

input:active {
    background-color: beige;
    text-align: center;
    border-radius: 10px;
    border: none;
}